body {
    background-color: #e5dada
    }

    
h1 {
    color: #002642;
    font-family: arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
   }

h2 {
   color: #e59500;
   font-family: arial, sans-serif;
   font-size: 25px;
   font-weight: bold;
   margin-top: 0px;
   margin-bottom: 1px;
   }
      
 ul {
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #e5dada;
   }
    
 li {
   padding: 8px;
   display: block;
   }

.navbar {
    overflow: hidden;
    display: inline-block;
    font-family: 'PT Sans', sans-serif;
    padding: 15px 10px;
    background-color: #e59500;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    color: #02040f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  img {
  float: left;
  margin-right: 15px;
  height: 300px;
  width: 400px;
  }
  
  .navbar a:hover {
    background: #002642;
    color: #e5dada;
  }
 
  .text {
    margin-top: 110px; 
    font-family: 'PT Sans', sans-serif;
    overflow: auto;
  }

  .about {
    margin-top: 100px; 
    font-family: 'PT Sans', sans-serif;
    overflow: auto;
  }

    